.Main {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 24px;
}

.Column {
  position: absolute;
  display: inline-flex;
  border: 1px solid #efefef;
  border-radius: 8px;
  padding: 14px 16px 6px;
  opacity: 0;
  animation: 1.4s cubic-bezier(0, 0, 0.2, 1) isShow;
  animation-fill-mode: forwards;
  background-color: rgba(255,255,255,.9);
}

.Column__item {

}

.Thumbnail {
  width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 2px;
  overflow: hidden;
}

.Column__item:last-child {
  flex-grow: 1;
  margin-left: 8px;
}

.Comment {
  color: #444;
  font-size: 16px;
  line-height: 1.5;
}

@keyframes isShow {
  0% {
    transform: scale(.3);
    opacity: 0;
  }
  20%{
    opacity: .8;
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}