@font-face {
  font-family: 'Filxgirl';
  src: url('./assets/images/logo/Filxgirl.TTF')
}
:root {
  --accentColor: #f09184;
  --mainColor: #cab078;
  --baseColor: #221f1f;
}
::marker {
  display: none;
}
.Main {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: #fff;
  transition: opacity cubic-bezier(0, 0, 0.2, 1) .7s;
}
.Main.Main--show {
  opacity: 1;
}

.Column {
  position: absolute;
  display: inline-flex;
  border: 1px solid #ebedef;
  border-radius: 8px;
  padding: 14px 16px 6px;
  opacity: 0;
  background-color: rgba(255,255,255,.9);
  animation: 1.4s cubic-bezier(0, 0, 0.2, 1) isShow;
  animation-fill-mode: forwards;
}



.Thumbnail {
  width: 260px;
  max-height: 260px;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}

.Column__item:last-child {
  flex-grow: 1;
  margin-left: 16px;
}

.Comment {
  color: #444;
  font-size: 26px;
  line-height: 1.7;
}

.Comment--small {
  font-size: 18px;
}

.Comment--large {
  font-size: 46px;
}

.MessageList {
  width: 100%;
  height: 100%;
  background-color: #fce9e6;
}

.Button {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: calc(50% - 222px);
  display: block;
  font-family: 'Filxgirl';
  font-size: 92px;
  color: var(--accentColor);
  border: 0;
  border-radius: 8px;
  padding: 24px 24px 24px 48px;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  /* text-shadow: 0 0 8px #ed1844; */
  appearance: none;
  animation: 1.4s cubic-bezier(0, 0, 0.2, 1) buttonScale infinite;

}

.Button:hover,.Button:focus {
  color: #b46d64;
  background-color: #fce9e6;
}
.Button:active{
  transform: scale(.8);
}

.CircleBackGround {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fce9e6;
  animation: 1.4s cubic-bezier(0, 0, 0.2, 1) backGroundAnimation;
  animation-fill-mode: forwards;
}

.ImageSlider {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.ImageSlider__unit {
  width: 33%;
}
.ImageSlider__unit:not(:first-child) {
  margin-left: 24px;
}

.ImageSlider__list {
  width: 100%;
  height: 100%;
  animation: topAnimationUp 10s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.ImageSlider__unit:nth-child(2) .ImageSlider__list {
  animation: bottomAnimationDown 10s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.ImageSlider__unit:nth-child(3) .ImageSlider__list {
  animation-duration: 12s;
}

.ImageSlider__item {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
}
.ImageSlider__image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

@keyframes isShow {
  0% {
    transform: scale(.3);
    opacity: 0;
  }
  20%{
    opacity: .8;
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes buttonScale {
  0%,100% {
    transform: translateY(0);
    transform: scale(1);
  }
  30%{
    transform: translateY(-40px);
  }
  50%{
    transform: scale(1)
  }
  90%{
    transform: scale(1.1,0.8);;
  }
}

@keyframes backGroundAnimation {
  0%{
    width: 100px;
    height: 100px;
  }

  100%{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes topAnimationUp {
  0%{
    transform:  translateY(0);
  }
  100%{
    transform: translateY(-25%);
  }
}

@keyframes bottomAnimationDown {
  0%{
    transform: translateY(-25%);
  }
  100%{
    transform:  translateY(0);
  }
}