@font-face {
  font-family: 'Filxgirl';
  src: url('./assets/images/logo/Filxgirl.TTF')
}
@font-face {
  font-family: 'uzura';
  src: url('./assets/images/logo/uzura.ttf')
}
@font-face {
  font-family: 'yuzupop';
  src: url('./assets/images/logo/yuzupop_Bold.ttf')
}
:root {
  --accentColor: #f09184;
  --mainColor: #cab078;
  --baseColor: #221f1f;
}
::marker {
  display: none;
}
.Main {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.Main.Main--smartphone {
  overflow: visible;
}


.Column {
  position: absolute;
  display: inline-flex;
  border: 1px solid #ebedef;
  border-radius: 8px;
  padding: 14px 16px 6px;
  opacity: 0;
  background-color: rgba(255,255,255,.9);
  animation: 1.4s cubic-bezier(0, 0, 0.2, 1) isShow;
  animation-fill-mode: forwards;
}

.Thumbnail {
  width: 140px;
  max-height: 140px;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}

.Column__item:last-child {
  flex-grow: 1;
  margin-left: 16px;
}

.Comment {
  color: #444;
  font-size: 14px;
  line-height: 1.7;
}

.Comment--small {
  font-size: 12px;
}

.Comment--large {
  font-size: 16px;
}

/* PCのみ */
@media screen and (min-width: 1366px) {
  .Thumbnail {
    width: 260px;
    max-height: 260px;
  }

  .Comment {
    font-size: 26px;
  }
  .Comment--small {
    font-size: 18px;
  }
  .Comment--large {
    font-size: 38px;
  }
}

.MessageList {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fce9e6;
  transition: opacity cubic-bezier(0, 0, 0.2, 1) .7s;
}

.MessageList.MessageList--smartphone {
  height: auto;
}

.MessageList.MessageList--hide {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.MessageList.MessageList--smartphone .Column {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  border-width: 0 0 1px 0;
  border-color: #fce9e6;
}

.MessageList.MessageList--smartphone .Column__item:last-child {
  display: flex;
  align-items: center;
}

.MessageList.MessageList--smartphone br {
  display: none;
}

.MessageList.MessageList--smartphone .Comment {
  word-wrap: break-word;
}

.Button {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: calc(50% - 222px);
  display: block;
  box-sizing: border-box;
  font-family: 'Filxgirl';
  font-size: 92px;
  color: var(--accentColor);
  border: 0;
  border-radius: 8px;
  padding: 24px 24px 24px 48px;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  appearance: none;
  animation: 1.4s cubic-bezier(0, 0, 0.2, 1) buttonScale infinite;
}
.Button.Button--smartphone {
  left: calc(50% - 188px);
  font-size: 78px;
  padding: 24px 0 24px 12px;
}

.Button:hover,.Button:focus {
  color: #b46d64;
  background-color: #fce9e6;
}
.Button:active{
  transform: scale(.8);
}

.CircleBackGround {
  position: absolute;
  top: calc(50% - (100px / 2));
  left: calc(50% - (100px / 2));
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fce9e6;
  animation: 1.4s cubic-bezier(0, 0, 0.2, 1) backGroundAnimation;
  animation-fill-mode: forwards;
}



/* PCのみ */
@media screen and (min-width: 1366px) {
  .ImageSlider__unit {
    width: 33%;
  }
  .ImageSlider__unit:not(:first-child) {
    margin-left: 24px;
  }
  .ImageSlider__unit:nth-child(3) {
    display: block;
  }
  .ImageSlider__item {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;
  }
}

.Section1,
.Section5 {
  position: relative;
}

.Section5 {
  width: 100vw;
  height: 100vh;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  background-image: url('https://d4e9fae3tu9x1.cloudfront.net/mozaiku_art/result6.png');
  background-position: center;
  background-size: cover;
  transition: opacity 4s cubic-bezier(0, 0, 0.2, 1);
}

.Section5--show {
  max-height: none;
  opacity: 1;
  visibility: visible;
}

.Section5__message {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: #222;
  margin: 0;
}
.Section5__message > span {
  padding: 16px 28px;
  border-radius: 16px;
  background-color: rgba(255,255,255,.3);
}
.Section5__messageName {
  top: 10%;
  font-size: 58px;
  font-family: 'uzura';
}
.Section5__messageNameSmall {
  font-size: 46px;
  letter-spacing: -5px;
}

.Section5__messageText1 {
  bottom: 40%;
  font-size: 94px;
  font-family: 'yuzupop';
}
.Section5__messageKekkon {
  letter-spacing: 8px;
  color: transparent;
  background-image: linear-gradient(90deg, var(--accentColor) 8%,#FA8B21 38%,#FA4E37 50%,#D2FA50 68%,#1E77FA 86%);
  background-clip: text;
}
.Section5__messageKekkonSmall {
  font-size: 82px;
}

.Section5__messageText2 {
  bottom: 15%;
  font-size: 70px;
  font-family: 'yuzupop';
  letter-spacing: -4px;
}
.Section5__messageText2 br {
  display: none;
}
.Section5__messageExclamation {
  letter-spacing: -18px;
}

.Main--smartphone .Section5__message > span {
  padding: 16px 16px 14px;
}
.Main--smartphone .Section5__messageName {
  font-size: 38px;
}
.Main--smartphone .Section5__messageNameSmall {
  font-size: 30px;
  letter-spacing: -7px;
}

.Main--smartphone .Section5__messageText1 {
  font-size: 72px;
}
.Main--smartphone .Section5__messageKekkonSmall {
  font-size: 62px;
}

.Main--smartphone .Section5__messageText2 {
  bottom: 10%;
  font-size: 50px;
  line-height: 1.2;
}
.Main--smartphone .Section5__messageText2 > span {
  display: inline-block;
  width: 100%;
  padding: 8px 0;
  background-color: rgba(255,255,255,.25);
}
.Main--smartphone .Section5__messageText2 br {
  display: block;
}

.Background {
  z-index: -1;
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.Background svg {
  height: 100%;
}

@keyframes isShow {
  0% {
    transform: scale(.3);
    opacity: 0;
  }
  20%{
    opacity: .8;
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes buttonScale {
  0%,100% {
    transform: translateY(0);
    transform: scale(.9);
  }
  30%{
    transform: translateY(-40px);
  }
  50%{
    transform: scale(.9)
  }
  90%{
    transform: scale(1,0.7);;
  }
}

@keyframes backGroundAnimation {
  0%{
    width: 100px;
    height: 100px;
  }

  100%{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
